.addVoterHeading {
  text-align: center;
  font-size: 2rem;
}
#addVoterSection {
  box-sizing: border-box;
}
#addVoterSection .container {
  border: 1px solid black;
  border-radius: 8px;
  padding-block: 1rem;
  margin-block: 2rem;
}
#addVoterSection input {
  font-family: "Jetbrains Mono", Arial, Helvetica, sans-serif;
  height: 2.5rem;
  border-radius: 8px;
}

#addVoterForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  margin-inline: auto;
}
#btnSection {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.backBtn {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #00a7fa;
  padding-top: 1rem;
  gap: 0.4rem;
}
.backBtn img {
  height: 35px;
}
.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  margin-inline-start: 0.5rem;
}
