header {
  background-color: var(--primaryBlue);
  color: white;
  padding-block: 0.8rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logoHeading {
  font-size: 1.5rem;
}
.logoImg {
  height: var(--navbarLogoHeight);
}
.adminDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.adminImg {
  height: var(--navbarLogoHeight);
  border: 2px solid white;
  border-radius: 50px;
}
.adminName {
  font-size: 1rem;
}
.logoutImg {
  height: 2rem;
}
.logoutBtn {
  border: none;
}
